---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-data
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 5Gi
  hostPath:
    path: /data/prometheus
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
